@font-face {
  font-family: 'Pacifico';
  src: url('../assets/fonts/Pacifico-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RubikBeastly';
  src: url('../assets/fonts/RubikBeastly-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amita';
  src: url('../assets/fonts/Amita-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  background: url("../assets/image/backgraund.png") repeat-x;
  background-color: #FFFFFF;
  top: 0;
  width: 100%;
  background-position: 0 0;
  font-size: 1.5em;
  color: #fff;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.header {
  padding: 2% 0 5% 0;
}

.header-label {
  font-family: 'Amita';
  color: #FFFFFF !important;
  font-size: 2.5rem;
  letter-spacing: 6px;
  align-items: center;
  text-shadow: 1px 0 1px #000, 0 3px 3px #000, -1px 0 3px #000, 0 -1px 3px #000;
}

.header-title {
  font-family: 'Pacifico';
  color: #cf8145;
  font-size: 1.5rem;
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}

.main {
  display: flex;
  justify-content: space-between;
}

.aside {
  width: 44%;
  padding: 0 50px 0 0;
  font-family: 'Pacifico', sans-serif;
  color: #ffffff;
  font-size: 1.5rem;
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.aside p {
  margin-bottom: 100px;
}

.CardsTable {
  width: 55%;
}

.button-custom {
  font-family: 'Pacifico', sans-serif;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  margin: 30px 0;
  padding: 10px 20px;
  position: relative;
  border: 2px solid white;
  color: white;
  transition: 0.4s;
  background-color: rgba(255, 215, 0, 0);
  cursor: pointer;
}

.button-custom:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: 0.4s;
}

.button-custom:hover:after {
  border-color: white;
  width: calc(100% - 20px);
  height: calc(100% + 20px);
}

.main-btn {
  position: relative;
  top: 0;
  left: 0;
  border-color: #1676fda6;
  color: #1676fda6;
}

.main-btn:hover:after {
  border-color: #1676fda6;
}

.footer {
  color: rgba(0, 0, 0, 0.88);
  text-align: center;
  font-family: 'Pacifico', sans-serif;
  font-size: .7rem;
  padding: 5%;
}

.footer a {
  color: rgba(0, 0, 0, 0.88);
}


@media (max-width: 320px) {

  html,
  body {
    background: url("../assets/image/backgraund.png") repeat-x;
    background-size: 500px;
    font-size: .8em;
    color: #fff;
  }

  .wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .header {
    padding: 2% 0 5% 0;
  }

  .header-label {
    font-family: 'Amita';
    color: #FFFFFF !important;
    font-size: 2.5rem;
    letter-spacing: 6px;
    align-items: center;
    text-shadow: 1px 0 1px #000, 0 3px 3px #000, -1px 0 3px #000, 0 -1px 3px #000;
  }

  .header-title {
    font-family: 'Pacifico';
    color: #cf8145;
    font-size: 1.5rem;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
  }

  .main {
    display: block;
  }

  .aside {
    width: 100%;
    padding: 0 0 0 0;
    font-family: 'Pacifico', sans-serif;
    color: #ffffff;
    font-size: 1.5rem;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 auto;
  }

  .aside p {
    display: none;
  }

  .CardsTable {
    width: 100%;
  }

  .main-btn {
    position: static;

    border-color: #1676fda6;
    color: #1676fda6;
  }

  .main-btn:hover:after {
    border-color: #1676fda6;
  }

  .CardsTable {
    width: 300px;
  }
}